## Installing Libraires

Collecting pyodc
  Downloading pyodc-1.4.1.tar.gz (36 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: cffi in c:\users\rutul\appdata\local\programs\python\python311\lib\site-packages (from pyodc) (1.16.0)
Collecting findlibs>=0.0.5 (from pyodc)
  Downloading findlibs-0.0.5.tar.gz (6.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: pandas in c:\users\rutul\appdata\local\programs\python\python311\lib\site-packages (from pyodc) (2.1.1)
Requirement already satisfied: pycparser in c:\users\rutul\appdata\local\programs\python\python311\lib\site-packages (from cffi->pyodc) (2.21)
Requirement already satisfied: numpy>=1.23.2 in c:\users\rutul\appdata\local\programs\python\python311\lib\site-packages (from pandas->pyodc) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rutul\appdata\local\programs\python\python311\lib\site-packages (from pandas->pyodc) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rutul\appdata\local\programs\python\python311\lib\site-packages (from pandas->pyodc) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\rutul\appdata\local\programs\python\python311\lib\site-packages (from pandas->pyodc) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\rutul\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas->pyodc) (1.17.0)
Building wheels for collected packages: pyodc, findlibs
  Building wheel for pyodc (pyproject.toml): started
  Building wheel for pyodc (pyproject.toml): finished with status 'done'
  Created wheel for pyodc: filename=pyodc-1.4.1-py3-none-any.whl size=30560 sha256=2090495232c0e0dc9e5cc3562bc4668e20b4ed7798e964d9f8b5035db0b2c725
  Stored in directory: c:\users\rutul\appdata\local\pip\cache\wheels\64\42\8d\94bd5036be2f054f688aaa41e27b4e7696631d6dd653e1a3d9
  Building wheel for findlibs (setup.py): started
  Building wheel for findlibs (setup.py): finished with status 'done'
  Created wheel for findlibs: filename=findlibs-0.0.5-py3-none-any.whl size=6954 sha256=d6836a00a6d303b029233635b0b7d20244dcf26d3d717f3cfac2d07fe015bd96
  Stored in directory: c:\users\rutul\appdata\local\pip\cache\wheels\e5\eb\3a\fc9bb01081f51631725acecba7bbfcdd14a53765635ffe11f5
Successfully built pyodc findlibs
Installing collected packages: findlibs, pyodc
Successfully installed findlibs-0.0.5 pyodc-1.4.1

## Importing Libraries

In [44]:
from sqlalchemy import create_engine
import pandas as pd
import pyodbc

## Connecting to SSMS database

In [57]:
server = 'RUTULPATEL'
database = 'SupplyChainDataset'
driver = '{ODBC Driver 17 for SQL Server}'
connection_string = f'DRIVER={driver};SERVER={server};DATABASE={database};trusted_connection=yes'
conn = pyodbc.connect(connection_string)

In [62]:

df = pd.read_sql('SELECT * FROM DataCoSupplyChainDataset', conn)

C:\Users\Rutul\AppData\Local\Temp\ipykernel_33072\1538869441.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT * FROM DataCoSupplyChainDataset', conn)

In [63]:
df.head()

,Type,Days_for_shipping_real,Days_for_shipment_scheduled,Benefit_per_order,Sales_per_customer,Delivery_Status,Late_delivery_risk,Category_Id,Category_Name,Customer_City,...,Order_Region,Order_State,Order_Status,Product_Card_Id,Product_Category_Id,Product_Name,Product_Price,Product_Status,shipping_date_DateOrders,Shipping_Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,False,73,Sporting Goods,Caguas,...,Southeast Asia,Java Occidental,COMPLETE,1360,73,Smart watch,327.75,0,2018-02-03 22:56:00,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,True,73,Sporting Goods,Caguas,...,South Asia,Rajast�n,PENDING,1360,73,Smart watch,327.75,0,2018-01-18 12:27:00,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,False,73,Sporting Goods,San Jose,...,South Asia,Rajast�n,CLOSED,1360,73,Smart watch,327.75,0,2018-01-17 12:06:00,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,False,73,Sporting Goods,Los Angeles,...,Oceania,Queensland,COMPLETE,1360,73,Smart watch,327.75,0,2018-01-16 11:45:00,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,False,73,Sporting Goods,Caguas,...,Oceania,Queensland,PENDING_PAYMENT,1360,73,Smart watch,327.75,0,2018-01-15 11:24:00,Standard Class

## Data Cleaning

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 48 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Type                         180519 non-null  object
 1   Days_for_shipping_real       180519 non-null  int64
 2   Days_for_shipment_scheduled  180519 non-null  int64
 3   Benefit_per_order            180519 non-null  float64
 4   Sales_per_customer           180519 non-null  float64
 5   Delivery_Status              180519 non-null  object
 6   Late_delivery_risk           180519 non-null  bool
 7   Category_Id                  180519 non-null  int64
 8   Category_Name                180519 non-null  object
 9   Customer_City                180519 non-null  object
 10  Customer_Country             180519 non-null  object
 11  Customer_Fname               180519 non-null  object
 12  Customer_Id                  180519 non-null  int64
 13  Customer_Lname               180511 non-null  object
 14  Customer_Segment             180519 non-null  object
 15  Customer_State               180519 non-null  object
 16  Customer_Street              180519 non-null  object
 17  Customer_Zipcode             180516 non-null  float64
 18  Department_Id                180519 non-null  int64
 19  Department_Name              180519 non-null  object
 20  Latitude                     180510 non-null  float64
 21  Longitude                    180414 non-null  float64
 22  Market                       180519 non-null  object
 23  Order_City                   180519 non-null  object
 24  Order_Country                180519 non-null  object
 25  Order_Customer_Id            180519 non-null  int64
 26  order_date_DateOrders        180519 non-null  datetime64[ns]
 27  Order_Id                     180519 non-null  int64
 28  Order_Item_Cardprod_Id       180519 non-null  int64
 29  Order_Item_Discount          180519 non-null  float64
 30  Order_Item_Discount_Rate     180519 non-null  float64
 31  Order_Item_Id                180519 non-null  int64
 32  Order_Item_Product_Price     180519 non-null  float64
 33  Order_Item_Profit_Ratio      180519 non-null  float64
 34  Order_Item_Quantity          180519 non-null  int64
 35  Sales                        180519 non-null  float64
 36  Order_Item_Total             180519 non-null  float64
 37  Order_Profit_Per_Order       180519 non-null  float64
 38  Order_Region                 180519 non-null  object
 39  Order_State                  180519 non-null  object
 40  Order_Status                 180519 non-null  object
 41  Product_Card_Id              180519 non-null  int64
 42  Product_Category_Id          180519 non-null  int64
 43  Product_Name                 180519 non-null  object
 44  Product_Price                180519 non-null  float64
 45  Product_Status               180519 non-null  int64
 46  shipping_date_DateOrders     180519 non-null  datetime64[ns]
 47  Shipping_Mode                180519 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(13), int64(13), object(19)
memory usage: 64.9+ MB

In [68]:
print(df.describe())

       Days_for_shipping_real  Days_for_shipment_scheduled  Benefit_per_order  \
count           180519.000000                180519.000000      180519.000000
mean                 3.497654                     2.931847          21.974989
min                  0.000000                     0.000000       -4274.979980
25%                  2.000000                     2.000000           7.000000
50%                  3.000000                     4.000000          31.520000
75%                  5.000000                     4.000000          64.800003
max                  6.000000                     4.000000         911.799988
std                  1.623722                     1.374449         104.433526

       Sales_per_customer    Category_Id    Customer_Id  Customer_Zipcode  \
count       180519.000000  180519.000000  180519.000000     180516.000000
mean           183.107609      31.851451    6691.379495      35921.126914
min              7.490000       2.000000       1.000000        603.000000
25%            104.379997      18.000000    3258.500000        725.000000
50%            163.990005      29.000000    6457.000000      19380.000000
75%            247.399994      45.000000    9779.000000      78207.000000
max           1939.989990      76.000000   20757.000000      99205.000000
std            120.043670      15.640064    4162.918106      37542.461122

       Department_Id       Latitude      Longitude  ...  \
count  180519.000000  180510.000000  180414.000000  ...
mean        5.443460      29.723129     -85.015211  ...
min         2.000000      17.982491    -158.025986  ...
25%         4.000000      18.265432     -98.466858  ...
50%         5.000000      33.144863     -76.859161  ...
75%         7.000000      39.279617     -66.370583  ...
max        12.000000      48.781933     -12.106936  ...
std         1.629246       9.803591      21.028917  ...

       Order_Item_Profit_Ratio Order_Item_Quantity          Sales  \
count            180519.000000       180519.000000  180519.000000
mean                  0.120647            2.127638     203.772096
min                  -2.750000            1.000000       9.990000
25%                   0.080000            1.000000     119.980003
50%                   0.270000            1.000000     199.919998
75%                   0.360000            3.000000     299.950012
max                   0.500000            5.000000    1999.989990
std                   0.466796            1.453451     132.273077

       Order_Item_Total  Order_Profit_Per_Order  Product_Card_Id  \
count     180519.000000           180519.000000    180519.000000
mean         183.107609               21.974989       692.509764
min            7.490000            -4274.979980        19.000000
25%          104.379997                7.000000       403.000000
50%          163.990005               31.520000       627.000000
75%          247.399994               64.800003      1004.000000
max         1939.989990              911.799988      1363.000000
std          120.043670              104.433526       336.446807

       Product_Category_Id  Product_Price  Product_Status  \
count        180519.000000  180519.000000        180519.0
mean             31.851451     141.232550             0.0
min               2.000000       9.990000             0.0
25%              18.000000      50.000000             0.0
50%              29.000000      59.990002             0.0
75%              45.000000     199.990005             0.0
max              76.000000    1999.989990             0.0
std              15.640064     139.732492             0.0

            shipping_date_DateOrders
count                         180519
mean   2016-06-16 05:45:23.202433024
min              2015-01-03 00:00:00
25%              2015-09-25 06:59:00
50%              2016-06-15 08:32:00
75%              2017-03-04 21:29:00
max              2018-02-06 22:14:00
std                              NaN

[8 rows x 28 columns]

In [66]:
df.isnull().sum()

Type                             0
Days_for_shipping_real           0
Days_for_shipment_scheduled      0
Benefit_per_order                0
Sales_per_customer               0
Delivery_Status                  0
Late_delivery_risk               0
Category_Id                      0
Category_Name                    0
Customer_City                    0
Customer_Country                 0
Customer_Fname                   0
Customer_Id                      0
Customer_Lname                   8
Customer_Segment                 0
Customer_State                   0
Customer_Street                  0
Customer_Zipcode                 3
Department_Id                    0
Department_Name                  0
Latitude                         9
Longitude                      105
Market                           0
Order_City                       0
Order_Country                    0
Order_Customer_Id                0
order_date_DateOrders            0
Order_Id                         0
Order_Item_Cardprod_Id           0
Order_Item_Discount              0
Order_Item_Discount_Rate         0
Order_Item_Id                    0
Order_Item_Product_Price         0
Order_Item_Profit_Ratio          0
Order_Item_Quantity              0
Sales                            0
Order_Item_Total                 0
Order_Profit_Per_Order           0
Order_Region                     0
Order_State                      0
Order_Status                     0
Product_Card_Id                  0
Product_Category_Id              0
Product_Name                     0
Product_Price                    0
Product_Status                   0
shipping_date_DateOrders         0
Shipping_Mode                    0
dtype: int64

In [67]:
df.duplicated().sum()

0

### Handling incorrect/unsufficient/unnecessary data / Converting Datatypes / handling missing values

dropping Product status column

In [73]:
df.drop(['Product_Status'],axis=1, inplace=True)
df.shape

(180519, 47)

splitting datetime column to date and time columns

In [74]:
df['order_date'] = df['order_date_DateOrders'].dt.date
df['order_time'] = df['order_date_DateOrders'].dt.time

In [75]:
df['shipping_date'] = df['shipping_date_DateOrders'].dt.date
df['shipping_time'] = df['shipping_date_DateOrders'].dt.time

In [76]:
df.head()

,Type,Days_for_shipping_real,Days_for_shipment_scheduled,Benefit_per_order,Sales_per_customer,Delivery_Status,Late_delivery_risk,Category_Id,Category_Name,Customer_City,...,Product_Card_Id,Product_Category_Id,Product_Name,Product_Price,shipping_date_DateOrders,Shipping_Mode,order_date,order_time,shipping_date,shipping_time
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,False,73,Sporting Goods,Caguas,...,1360,73,Smart watch,327.75,2018-02-03 22:56:00,Standard Class,2018-01-31,22:56:00,2018-02-03,22:56:00
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,True,73,Sporting Goods,Caguas,...,1360,73,Smart watch,327.75,2018-01-18 12:27:00,Standard Class,2018-01-13,12:27:00,2018-01-18,12:27:00
2,CASH,4,4,-247.779999,309.720001,Shipping on time,False,73,Sporting Goods,San Jose,...,1360,73,Smart watch,327.75,2018-01-17 12:06:00,Standard Class,2018-01-13,12:06:00,2018-01-17,12:06:00
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,False,73,Sporting Goods,Los Angeles,...,1360,73,Smart watch,327.75,2018-01-16 11:45:00,Standard Class,2018-01-13,11:45:00,2018-01-16,11:45:00
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,False,73,Sporting Goods,Caguas,...,1360,73,Smart watch,327.75,2018-01-15 11:24:00,Standard Class,2018-01-13,11:24:00,2018-01-15,11:24:00

In [77]:
df.drop(['shipping_date_DateOrders','order_date_DateOrders'],axis=1,inplace=True)
df.shape

(180519, 49)

Handling Missing value of Customer Zipcode (Customer State=95758)

In [87]:
pd.set_option('display.max_columns', None)

In [ ]:
df.loc[df["Customer_State"] == '95758','Customer_Zipcode'] = df['Customer_State']

,Type,Days_for_shipping_real,Days_for_shipment_scheduled,Benefit_per_order,Sales_per_customer,Delivery_Status,Late_delivery_risk,Category_Id,Category_Name,Customer_City,...,Order_Status,Product_Card_Id,Product_Category_Id,Product_Name,Product_Price,Shipping_Mode,order_date,order_time,shipping_date,shipping_time
34863,DEBIT,2,1,66.379997,189.660004,Late delivery,True,65,Consumer Electronics,CA,...,COMPLETE,1352,65,Industrial consumer electronics,252.880005,First Class,2017-11-02,18:31:00,2017-11-04,18:31:00
45599,PAYMENT,4,4,10.910000,38.959999,Shipping on time,False,75,Video Games,CA,...,PENDING_PAYMENT,1362,75,Fighting video games,39.750000,Standard Class,2017-12-10,15:18:00,2017-12-14,15:18:00

In [90]:
df.loc[df['Customer_State']=='95758','Customer_State'] = df['Customer_City']

In [103]:
df[(df['Customer_State'] == 'CA') &  (df['Customer_Street'] == 'Elk Grove')]

,Type,Days_for_shipping_real,Days_for_shipment_scheduled,Benefit_per_order,Sales_per_customer,Delivery_Status,Late_delivery_risk,Category_Id,Category_Name,Customer_City,Customer_Country,Customer_Fname,Customer_Id,Customer_Lname,Customer_Segment,Customer_State,Customer_Street,Customer_Zipcode,Department_Id,Department_Name,Latitude,Longitude,Market,Order_City,Order_Country,Order_Customer_Id,Order_Id,Order_Item_Cardprod_Id,Order_Item_Discount,Order_Item_Discount_Rate,Order_Item_Id,Order_Item_Product_Price,Order_Item_Profit_Ratio,Order_Item_Quantity,Sales,Order_Item_Total,Order_Profit_Per_Order,Order_Region,Order_State,Order_Status,Product_Card_Id,Product_Category_Id,Product_Name,Product_Price,Shipping_Mode,order_date,order_time,shipping_date,shipping_time
34863,DEBIT,2,1,66.379997,189.660004,Late delivery,True,65,Consumer Electronics,CA,EE. UU.,Sara,14577,Foreman,Consumer,CA,Elk Grove,95758,10,Technology,39.134159,-123.718552,Europe,Valence,Francia,14577,71024,1352,63.220001,0.25,174339,252.880005,0.35,1,252.880005,189.660004,66.379997,Western Europe,Auvernia-R�dano-Alpes,COMPLETE,1352,65,Industrial consumer electronics,252.880005,First Class,2017-11-02,18:31:00,2017-11-04,18:31:00
45599,PAYMENT,4,4,10.910000,38.959999,Shipping on time,False,75,Video Games,CA,EE. UU.,Eugenia,17171,Slater,Corporate,CA,Elk Grove,95758,9,Discs Shop,38.408573,-121.449112,Pacific Asia,Manila,Filipinas,17171,73618,1362,0.800000,0.02,176933,39.750000,0.28,1,39.750000,38.959999,10.910000,Southeast Asia,Capital Nacional,PENDING_PAYMENT,1362,75,Fighting video games,39.750000,Standard Class,2017-12-10,15:18:00,2017-12-14,15:18:00

Handling Missing Values of Customer Zipcode (Customer State = 91732)

In [104]:
df.loc[df["Customer_State"] == '91732','Customer_Zipcode'] = df['Customer_State']
df.loc[df['Customer_State']=='91732','Customer_State'] = df['Customer_City']
df[(df['Customer_State'] == 'CA') &  (df['Customer_Street'] == 'El Monte')]

,Type,Days_for_shipping_real,Days_for_shipment_scheduled,Benefit_per_order,Sales_per_customer,Delivery_Status,Late_delivery_risk,Category_Id,Category_Name,Customer_City,Customer_Country,Customer_Fname,Customer_Id,Customer_Lname,Customer_Segment,Customer_State,Customer_Street,Customer_Zipcode,Department_Id,Department_Name,Latitude,Longitude,Market,Order_City,Order_Country,Order_Customer_Id,Order_Id,Order_Item_Cardprod_Id,Order_Item_Discount,Order_Item_Discount_Rate,Order_Item_Id,Order_Item_Product_Price,Order_Item_Profit_Ratio,Order_Item_Quantity,Sales,Order_Item_Total,Order_Profit_Per_Order,Order_Region,Order_State,Order_Status,Product_Card_Id,Product_Category_Id,Product_Name,Product_Price,Shipping_Mode,order_date,order_time,shipping_date,shipping_time
81670,DEBIT,4,4,59.990002,299.959991,Shipping on time,False,63,Children's Clothing,CA,EE. UU.,Zena,14046,Elliott,Consumer,CA,El Monte,91732,4,Apparel,34.071892,-118.013885,Europe,Sheffield,Reino Unido,14046,70493,1350,57.139999,0.16,173808,357.100006,0.2,1,357.100006,299.959991,59.990002,Northern Europe,Inglaterra,COMPLETE,1350,63,Children's heaters,357.100006,Standard Class,2017-10-26,00:29:00,2017-10-30,00:29:00

Handling Missing Values (Customer Last Name)

In [105]:
df['Customer_Lname'].fillna('Unknown',inplace=True)
df['Customer_Lname'].isnull().sum()

0

Initially i found missing values in this dataframe from latitude and longitude columns but after verfiying the source data(.csv) i found that there was some problem inserting data to SQL server which cause this problem as there were no missing values in latitude and longitude columns